
<fieldset>
	<legend>Ajouter un commentaire</legend>
	<form method="post" class="form-horizontal">
		<div class="form-group">
			<label for="author" class="col-sm-2 control-label">Auteur</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="author" disabled value="{{username}}">
			</div>
		</div>
		<div class="form-group">
			<label for="content" class="col-sm-2 control-label">Contenu</label>
			<div class="col-sm-10">
				<textarea required class="form-control" id="content" name="content" placeholder="Votre commentaire"></textarea> 
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-default">Ajouter</button>
			</div>
		</div>
	</form>
</fieldset>