<fieldset>
	<legend>Se connecter</legend>
	{{erreur}}
	<form method="post" class="form-horizontal">
		<div class="form-group">
			<label for="login" class="col-sm-2 control-label">Nom d'utilisateur</label>
			<div class="col-sm-10">
				<input required type="text" class="form-control" id="login" placeholder="Nom d'utilisateur" name="login"/>
			</div>
		</div>
		<div class="form-group">
			<label for="password" class="col-sm-2 control-label">Mot de passe</label>
			<div class="col-sm-10">
				<input required type="password" class="form-control" id="password" name="pass"/>
			</div>
		</div>
		<div class="radio">
			<div class="col-sm-2"></div>
			<div class="col-sm-10">
				<label>
					<input type="radio" name="newAccount" value="newAccount">
					Créer un compte avec ces identifiantss
				</label>
			</div>
		</div>
		<hr/>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-default">Se connecter</button>
			</div>
		</div>
	</form>
</fieldset>