<fieldset>
	<legend>Project admin</legend>
	{{erreur}}
	<form method="post" class="form-horizontal">
		<div class="form-group">
			<label for="login" class="col-sm-2 control-label">Changer l'état du bug en :</label>
			<div class="col-sm-10">
				<select class="form-control" name="state">
					{{states}}
				</select>
			</div>
		</div>
		<hr/>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-default">Enregistrer</button>
			</div>
		</div>
	</form>
</fieldset>