<fieldset>
	<legend>Signaler un bug</legend>
	<form method="post" class="form-horizontal">
		<div class="form-group">
			<label for="author" class="col-sm-2 control-label">Auteur</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="author" disabled value="{{username}}">
			</div>
		</div>
		<div class="form-group">
			<label for="title" class="col-sm-2 control-label">Titre</label>
			<div class="col-sm-10">
				<input required type="text" class="form-control" name="title" id="title" placeholder="Titre">
			</div>
		</div>
		<div class="form-group">
			<label for="content" class="col-sm-2 control-label">Contenu</label>
			<div class="col-sm-10">
				<textarea required class="form-control" id="content" name="content" placeholder="Décrivez en quelques mots le bug"></textarea> 
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-default">Ajouter</button>
			</div>
		</div>
	</form>
	{{erreur}}
</fieldset>