<div class="panel panel-default">
	<div class="panel-heading">
	<span class="label label-{{labelLabel}} ">{{labelName}}</span>
		<a href="?op=issue&project={{projectId}}&issue={{issueId}}">{{title}}</a> 
		<span class="badge">{{nbComments}}</span>
	</div>
	<div class="panel-body">
		{{content}}
	</div>
</div>