<div class="jumbotron">
  <h1>Bienvenue sur le bugtracker de Shellbash!</h1>
  <p>Je me sers régulièrement de ce petit outil très simpliste pour lister les bugs sur mes différents projets, ou alors plus simplement pour lister des idées, une sorte de todo liste... Pour ceux qui seraient intéressés, contactez moi à shellbash [at] lesmordusduclavier.fr et je vous prépare un espace en 2 minutes pour votre projet.</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button" disabled>Learn more</a></p>
</div>