<!DOCTYPE html>
<html lang="fr_FR">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{titre}}</title>
		<link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
		<link href="css/styles.css" rel="stylesheet" type="text/css" />
	</head> 
	<body>
		<div class="bg">
		</div>
		<script src="js/jquery.js"></script>
		<script src="lib/bootstrap/js/bootstrap.min.js"></script>
		<script src="js/main.js"></script>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10 content">
					<section id="content">
						{{header}}
					</section>
				</div>
				<div class="col-md-1"></div>
			</div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10 content">
					<section id="content">
						{{content}}
					</section>
				</div>
				<div class="col-md-1"></div>
			</div>
		</div>
		<footer>
		</footer>
	</body>
</html>